body {
  font-family: Arial, sans-serif;
  background: #fce4ec;
  text-align: center;
}

#loginBox, #chatBox {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  background: #f5f5f5;
  margin: 10px;
  padding: 10px;
}

#avatar {
  width: 120px;
  border-radius: 50%;
}
